<div class="about">
    <h2>Sobre o Eventos</h2>
    <p>Um sistema simples com um crud</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati ipsam quae iure voluptates asperiores iusto tempora quasi, consequatur accusamus rerum? Quaerat qui, eius fugiat libero magnam amet possimus autem ipsa.</p>
    
    <div class="container-button">
        <h3>Cadastre um novo evento aqui</h3>
        <input class="btn" type="button" value="Novo Evento" routerLink="/eventos/new">
    </div>

</div>