<form>
  <div class="container-form">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" placeholder="Coloque um nome" required>
    </div>
    <div class="form-group">
      <label for="horario">Horario</label>
      <input type="text" placeholder="Coloque um horario" required>
    </div>
    <div class="form-group">
      <label for="nome">Local</label>
      <input type="text" placeholder="Coloque um local" required>
    </div>
    <input class="btn" type="submit" value="{{btnValue}}">
  </div>

</form>
